html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --font-raleway: 'Raleway', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 600;
}

.row-mrg {
  margin: 0;
}

.hero {
  position: relative;
  background-image: url("../img/gori-3840x2160-nebo-4k-5k-zakat-android-oboi-11473.jpg");
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.699);
}

.header__container{
  position: relative;
  z-index: 5;
}

.site-header {
  padding: 10px 0;
}
.particles-js-canvas-el{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.site-logo {
  font-style: bold;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  position: relative;
  z-index: 15;
}
.logo__text {
  color: #fff;
  font-style: normal;
  font-weight: bold;
}

.nav__link {
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 10px;
  position: relative;
  padding: 15px 10px;
  margin-left: 10px;
  font-style: normal;
  transition: all 0.3s ease-in-out;
}

.nav__link--active::after,
.nav__link--active::before {
  content: "";
  width: 20px;
  height: 1px;
  display: inline-block;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav__link--active::before {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav__link--active::after {
  bottom: 0;
}

.nav__item:not(:first-child) .nav__link::after {
  content: "";
  width: 0px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0%;
  transform: translate(50%, -50%);
  transition: all 0.3s ease-in-out;
}

.nav__item:not(:first-child) .nav__link:hover:after {
  width: 40px;
  right: 50%;
}

.site-menu {
  background-color: transparent;
  border: none;
  display: none;
}

.site-menu__btn {
  position: relative;
  width: 35px;
  height: 2px;
  display: block;
  background-color: #fff;
  transition: all 0.3s ease;
}

.site-menu__btn::before {
  content: "";
  width: 35px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: relative;
  top: -12px;
  transform-origin: right;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.site-menu__btn::after {
  content: "";
  width: 35px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: relative;
  bottom: -12px;
  transform-origin: right;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.exit.site-menu__btn::before {
  transform-origin: right;
  transform: rotate(-45deg);
}
.exit.site-menu__btn {
  background-color: transparent;
}

.exit.site-menu__btn::after {
  transform-origin: right;
  transform: rotate(45deg);
}

.hero-sec {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.hero__title {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 60px;
}

.hero__animate {
  font-weight: 700;
  color: #fff;
}

.hero__scroll {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: hero-scroll 1.3s infinite ease-in-out;
  transition: all 0.8s ease;
}

@keyframes hero-scroll {
  0% {
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  50% {
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.scroll__text {
  color: #fff;
  position: relative;
}

.scroll__text::before {
  content: '';
  width: 2px;
  height: 50px;
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroll__one,
.scroll__two,
.scroll__three {
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 15px;
  height: 15px;
  transform: rotate(-45deg);
  margin-bottom: -8px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: rotate(-45deg) translate(-50%, -50%);
}

/* about */

.about {
  padding: 100px 0;
  background-color: #fff;
}

.about__title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-weight: 600;
  margin-bottom: 60px;
}

.about__pretitle {
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.about__text {
  font-family: var(--font-raleway);
  opacity: 0.8;
  line-height: 24px;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  margin-bottom: 20px;
}

.inner__list {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-flow: row wrap;
}

.inner__item {
  background-color: #555;
  padding: 5px 10px;
  border-radius: 5px;
}

.inner__title {
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.inner__lang {
  position: relative;
} 

.inner__text {
  letter-spacing: 1px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.inner__pretext {
  color: #888;
}

/* service */

.service {
  padding: 80px 0;
  background-color: rgba(0, 0, 0, 0.08);
}

.service__title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 600;
}

.service__inner {
  position: relative;
  padding: 30px 10px;
  margin-bottom: 20px;
}

.service__inner::before,
.service__inner::after,
.service__inner-text::before,
.service__inner-text::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  transition: width 0.2s ease-in-out,
              height 0.2s ease-in-out;
}


.service__inner::before {
  top: 0px;
  left: 0px;
  border-right: none;
  border-bottom: none;
}

.service__inner::after {
  top: 0px;
  right: 0px;
  border-left: none;
  border-bottom: none;
}

.service__inner-text::before {
  bottom: 0px;
  left: 0px;
  border-right: none;
  border-top: none;
}

.service__inner-text::after {
  bottom: 0px;
  right: 0px;
  border-left: none;
  border-top: none;
}

.service__item:hover .service__inner::before,
.service__item:hover .service__inner::after,
.service__item:hover .service__inner-text::after,
.service__item:hover .service__inner-text::before {
  width: 40px;
  height: 40px;
}

.service__inner-title {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 2em;
  font-weight: normal;
  margin-bottom: 10px;
}

.service__inner-text {
  font-family: var(--font-raleway);
  color: #555;
  font-size: 14px;
  line-height: 22px;
}

.fal-icon {
  font-size: 48px;
}

/* information */

.info {
  padding: 100px 0;
  background-color: #000;
}

.info__item {
  margin-bottom: 20px;
}

.info__item:hover .info__icon {
  transform: rotate(720deg);
  color: #00e6a1;
}

.info__icon {
  font-size: 24px;
  color: #fff;
  transform: rotate(0deg);
  transition: transform 0.4s ease,
              color 0.4s ease;
}

.info__title {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  margin: 10px 0;
}
.info__text {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}

/* portfolio */

.portfolio {
  padding: 100px 0;
}

.portfolio__title {
  margin-bottom: 100px;
}

.portfolio__list {
  margin-bottom: 80px;
}

.portfolio__link {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 2em;
  font-weight: normal;
  margin: 10px;
  padding: 10px 15px;
  color: #000;
}
.portfolio__link--active {
  border-bottom: 1px solid #000;
}

.folio__inner {
  margin-bottom: 20px;
} 

.folio__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, 400px);
  grid-gap: 20px;
}

.folio__item {
  box-shadow: 0 0 1px 5px rgb(241, 233, 233);
  background-size: cover;
}

.folio__item:nth-child(1) {
  background-image: url("../img/folio-1.png");
}

.folio__item:nth-child(2) {
  background-image: url("../img/folio-2.png");
}

.folio__item:nth-child(3) {
  background-image: url("../img/folio-3.png");
}

.folio__item:nth-child(4) {
  background-image: url("../img/folio-4.png");
}

.folio__item:nth-child(5) {
  background-image: url("../img/folio-5.png");
}

.folio__item:nth-child(6) {
  background-image: url("../img/folio-6.png");
}

.folio__item:nth-child(7) {
  background-image: url("../img/folio-7.png");
}

.folio__item:nth-child(8) {
  background-image: url("../img/folio-8.png");
}

.folio__item {
  position: relative;
  /* overflow: hidden; */
  transition: all 0.4s ease;
}

.folio__item::before {
  content: "";
  position: absolute;
  top: 0;
  right:0;
  width: 0;
  height: 0;
  background-color: rgba(136, 128, 128, 0.308);
  transform-origin: right;
  transform: rotate(0deg);
  transition: all 0.4s ease;
}

.folio__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left:0;
  width: 0;
  height: 0;
  background-color: rgba(136, 128, 128, 0.308);
  transform-origin: right;
  transform: rotate(0deg);
  transition: all 0.4s ease;
}

.folio__item:hover:before,
.folio__item:hover:after {
  width: 100%;
  height: 100%;
}

.social__list {
  position: absolute;
  z-index: -2;
  top: 50%;
  left: 50%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px; 
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

.social__link {
  font-size: 50px;
  margin: 20px;
}

.folio__item:hover .social__list,
.folio__item:hover .social__list {
  z-index: 5;
}

.portfolio__btn {
  margin-top: 65px;
  display: inline-block;
  padding: 15px 30px;
  border: 1px solid #000;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 10px;
  transition: all 0.4s ease-in-out;
}

.portfolio__btn::after {
  content: '';
  background-image: url("../img/arrow.svg");
  width: 10px;
  height: 8px;
  margin-left: 20px;
  background-size: cover;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio__btn:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

/* contact */

.contact {
  padding: 100px 0;
}

.contact__title {
  margin-bottom: 80px;
}

.form {
  background-color: #333;
  padding: 40px;
  border: 1px solid
}

.form__input {
  width: 100%;
  height: 30px;
  background-color: #333;
  color: #fff;
  border: none;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.form__textarea {
  width: 100%;
  height: 150px;
  background-color: #333;
  color: #fff;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.form__label {
  position: relative;
  top: 20px;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  transition: top 0.5s ease,
  font 0.5s ease;
}

.form__list:focus .form__label {
  top: -10px;
  font-size: 8px;
}

.form__btn {
  position: relative;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 10px;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #fff;
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.form__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fff;
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.form__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #fff;
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.form__btn:hover:before,
.form__btn:hover:after {
  width: 100%;
}

.form__btn:hover {
  color:#000;
}

.con__title {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 10px;
}

.con__text {
  font-size: 14px;
  font-family: var(--font-raleway);
  color: #555;
  line-height: 32px;
  margin-bottom: 30px;
}

.contact__item {
  margin-bottom: 20px;
}

.contact__item i {
  font-size: 1em;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  color: #ffffff;
}

.con__link {
  font-size: 14px;
  font-family: var(--font-raleway);
  color: #555;
  line-height: 32px;
}

/* footer */

.footer {
  padding: 100px 0;
  background-color: #000;
}

.footer__con {
  display: flex;
  align-items: center
}

.footer__con i {
  font-size: 1.5em;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  background: #000000;
  color: #ffffff;
}

.footer__text {
  font-size: 14px;
  font-family: var(--font-raleway);
  color: #C9C9C9;
  line-height: 32px;
} 

.footer__center-text {
  font-size: 10px;
  letter-spacing: 2px;
  margin-top: 10px;
  color: #C9C9C9;
}

.socials__link i {
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #C9C9C9;
  margin-right: 5px;
}

@media only screen and (max-width: 768px) {


  .nav__list {
    display: flex;
    align-items: center;
    position: fixed;
    opacity: 0;
    z-index: 0;
    flex-direction: column;
    z-index: 0;
    left: 0;
    transform: translateY(100%);
    transition: all 0.4s ease;
    background-color: black;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
  }


  .header__row {
    position: fixed;
    top: 15px;
    left: 15px;
    right: 15px;
  }
  .site-menu {
    display: block;
    cursor: pointer;
    height: 30px;
    z-index: 99;
  }

  .close {
    opacity: 1;
    z-index: 8;
    top: 50%;
    left: 50px;

    transform: translate(-50px, -50%);
  }

  .nav__link{
    display: inline-block;
  }

  .hero__title {
    font-size: 40px;
  }

  .folio__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, 300px);
    grid-gap: 20px;
    padding: 0 20px;
  }
  
  .folio__item {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

@media only screen and (max-width: 411px) {
  .hero__title {
    font-size: 24px;
    color: #fff;
  }
  .folio__list {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(8, 300px);
    grid-gap: 20px;
  }
  
  .folio__item {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .social__link {
    font-size: 20px;
    margin: 20px;
  }
  
  .flex-column {
    flex-direction: column;
  }
  .footer-inner {
    margin-bottom: 20px;
  }
  .footer__center-text {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}